.card-tarefa {
    border: black 1px solid;
    padding: 35px 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 5px 7px -2px;
    margin: 2px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

#tarefa-digitada {
    width: 30%;
    margin-right: 35px;
    border-radius: 25px;
    padding: 0 15px;
}